<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
	<legend><h1>{{ question.qu_text }}</h1></legend>
	{% if error_message %}
		<!-- in case we get Exceptions in vote from views.py -->
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}

	{% for ch in question.choice_set.all %}
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ ch.id }}">
		<label for="choice{{ forloop.counter }}">{{ ch.ch_text }}</label><br>
	{% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
